/* Importation de la police d'ecriture : "Inter" */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Definition d'un padding et margin pour l'ensemble des elements */
* {
    margin: 0;
    padding: 0;
}

/* Style pour les h1*/
h1 {
    font-size: 4rem; /* Taille de la police */
}

/* Style pour les h2 */
h2 {
    font-size: 3rem; /* Taille de la police */
    margin-bottom: 100px; /* Espace en dessous du titre */
}

/* Style pour les paragraphes */
p {
    font-size: 1.5rem; /* Taille de la police */
    line-height: 1.5em; /* Hauteur de ligne */
}

/* Style des headers */
header {
    position: fixed; /* Positionnement fixe pour le header */
    top: 0; /* Positionne le header en haut de la page */
    left: 0; /* Positionne le header à gauche de la page */
    width: 100%; /* Prend toute la largeur de la page */
    background-color: #18213b; /* Couleur de fond du header */
    z-index: 1000; /* Assure que le header est au-dessus des autres éléments */
    padding-block: 10px; /* Espace intérieur vertical du header */
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.07); /* Ombre portée pour le header */
}

/* Style pour le logo du header */
.header-logo {
    display: block; /* Affiche le logo comme un bloc */
}

/* Style pour l'image du logo */
.header-logo img {
    height: auto; /* Hauteur automatique pour garder le ratio */
    margin: 10px; /* Espace autour du logo */
}

/* Style pour le menu du header */
.header-menu {
    display: flex; /* Affiche le menu en flexbox */
    align-items: center; /* Centre les éléments verticalement */
    list-style: none; /* Supprime les puces de la liste */
}

/* Style pour le menu du header du mobile */
.header-menu-mobile {
    display: none; /* on le cache en mode desktop */
}

/* Style pour les éléments du menu */
.header-menu li a {
    color: #95fbb5; /* Couleur des liens du menu */
    text-decoration: none; /* Supprime le soulignement des liens */
    padding: 10px 20px; /* Espace intérieur des liens */
    display: block; /* Affiche les liens comme des blocs */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
    transition: .2s ease; /* Transition pour les effets de survol */
}

/* Effet de survol pour les liens du menu */
.header-menu li a:hover {
    background-color: #adf0c2; /* Change la couleur de fond au survol */
    border-radius: 15px; /* Coins arrondis au survol */
    color: black; /* Change la couleur du texte au survol */
}

/* Style faire ressortir le menu contact */
.header-menu li:last-child a {
    background-color: #6298cb; /* Couleur de fond pour le lien contact */
    border-radius: 15px; /* Coins arrondis pour le lien contact */
    color: black; /* Couleur du texte pour le lien contact */
    font-weight: bold; /* Met le texte en gras pour le lien contact */
}

.aligncenter {
    text-align: center; /* Centre le texte */
}

/* Police d'ecriture par defaut */
body {
    font-family: 'Inter', sans-serif; /* Utilisation de la police Inter */
}

/* Style pour les sliders */
.slider {
    width: 100%; /* Prend toute la largeur de la page */
    height: 80vh; /* Hauteur du slider */
    position: relative; /* Positionnement relatif pour le slider */
    background-color: black; /* Couleur de fond par défaut */
}

/* Style pour l'image de fond du slider */
.slider-background {
    width: 100%;  /* Prend toute la largeur du slider */
    height: 100%; /* Prend toute la hauteur du slider */
    object-fit: cover; /* Ajuste l'image pour qu'elle couvre tout le conteneur */
    filter: brightness(50%); /* Ajuste la luminosité de l'image de fond */
}

/* Style pour le contenu du slider */
.slider-content {
    position: absolute; /* Positionne le contenu de manière absolue */
    top: 50%; /* Positionne le contenu à 50% du haut */
    left: 50%; /* Positionne le contenu à 50% du coté gauche */
    text-align: center; /* Centre le texte */
    transform: translate(-50%, -50%); /* Centre le contenu du slider */
}

.slider-content p { 
    color: #95fbb5; /* Couleur du texte */
    font-size: 2rem; /* Taille de la police */
    font-weight: 300; /* Poids de la police */
}

.slider-content h1 { 
    color: #95fbb5; /* Couleur du texte */
}

.text-center {
    text-align: center; /* Centre le texte */
}

/* Style pour les sections */
.section {
    padding: 100px 0; /* Espace intérieur de la section */
}

/* Style pour les boxes */
.boxed {
    max-width: 1200px; /* Largeur maximale des boîtes */
    margin-inline: auto; /* Centre les boîtes horizontalement */
}

/* Style pour les flex */
.flex {
    display: flex; /* Affiche les éléments en flexbox */
}

/* Style pour la class dark */
.dark {
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/sliders/slider1.jpeg); /* Image de fond avec un dégradé */
    background-size: cover; /* Ajuste l'image pour qu'elle couvre tout le conteneur */
    background-position-y: 50%; /* Positionne l'image de fond */
    color: white;
}

/* Style pour les colonnes de 20px */
.w20 {
    width: 20%; 
}

.w25 {
    width: 25%; 
}

.w32 {
    width: 32%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.space-between {
    justify-content: space-between; /* Espace entre les éléments */
}

/* Style pour les ecarts de 20px */
.gap20 {
    gap: 20px; /* Espace entre les éléments */
}

/* Passage a la ligne pour les flex boxes*/
.wrap {
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne */
}

/* Style pour les skills */
.skill {
    background-color: #18213b; /* Couleur de fond des skills */
    border-radius: 15px; /* Coins arrondis */
    padding: 20px; /* Espace intérieur de la boîte */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
}

/* Style pour les image des skills */
.skill img {
    width: 100px; /* Largeur de l'image */
    height: 100px; /* Taille de l'image */
    aspect-ratio: 1 / 1; /* Maintient le ratio de l'image */
    object-fit: contain; /* Ajuste l'image pour qu'elle s'adapte à la boîte */
}

/* Style pour les titres des skills */
.skill h3{
    margin-top: 10px; /* Espace au-dessus du titre */
    font-size: 2rem; /* Taille de la police du titre */
}

/* Style pour les experiences */
.experience {
    background-color: #c2b5f3; /* Couleur de fond des experiences */
    height: auto; /* Hauteur automatique pour s'adapter au contenu */
    aspect-ratio: 1 / 1; /* Maintient le ratio de l'image */
    border-radius: 15px; /* Coins arrondis */
    padding: 20px; /* Espace intérieur de la boîte */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
}

/* Style pour les titres des experiences */
.experience h3{
    position: relative; /* Positionne le titre de manière absolue */
    top: 50%; /* Positionne le titre à 50% du haut */
    left: 50%; /* Positionne le titre à 50% du coté gauche */
    transform: translate(-50%, -50%); /* Centre le titre */
    font-size: 2rem; /* Taille de la police du titre */
    width: max-content; /* Largeur maximale du titre */
}

/* Style pour les liens des experiences */
.experience a{
    display: block; /* Affiche le lien comme un bloc */
    height: 100%; /* Prend toute la hauteur de la boîte */
    width: 100%; /* Prend toute la largeur de la boîte */
    text-decoration: none; /* Supprime le soulignement du lien */
}

/* Style pour les images des experiences */
.experience img {
    width: 100%; /* Prend toute la largeur de la boîte */
    height: 100%; /* Prend toute la hauteur de la boîte */
    border-radius: 15px; /* Coins arrondis */
    object-fit: cover; /* Ajuste l'image pour qu'elle couvre tout le conteneur */
    filter: brightness(70%); /* Ajuste la luminosité de l'image */
    transition: .4s ease ; /* Transition pour l'effet de survol */
}

/* Effet de survol pour les images des experiences */
.experience img:hover {
    filter: brightness(100%); /* Augmente la luminosité de l'image au survol */
}

/* Style pour les contacts */
.contact {
    border: 2px dashed; /* Bordure en pointillés */
    border-radius: 15px; /* Coins arrondis */
    padding: 15px; /* Espace intérieur de la boîte */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
}

/* Style pour les icons */
.icon {
    display: block; /* Affiche l'icône comme un bloc */
    font-size: 40px !important; /* Taille de l'icône */
}

/* Style pour les labels */
.label {
    display: block; /* Affiche le label comme un bloc */
    font-weight: bold; /* Met le label en gras */
    text-transform: uppercase; /* Met le texte en majuscules */
    margin: 10px 0; /* Espace autour du label */
    font-size: 1.5rem; /* Taille de la police du label */
}

/* Style pour les values */
.value {
    color: #95fbb5; /* Couleur de la valeur */
    display: block; /* Affiche la valeur comme un bloc */
    font-size: 1.5rem; /* Taille de la police de la valeur */
}

/* ---- PARTIE RESPONSIVE ---- */

/* Media queries pour les écrans de moins de 810px */
@media screen and (max-width: 810px) {
    header {
        /*display: none; */ /* Cache le header sur les petits écrans */
        height: 60px !important; 
    }

    /* Modification du bouton menu */
    .header-menu-mobile {
        display: block;
        position: absolute;
        color: #95fbb5;
        background-color: #18213b;
        border: 0px;
        right: 5%;
        top: 35%;
        transform: translate(-50, -50%);
        z-index: 991; /* On met un index élevé pour qu'il passe au dessus des autres elements*/
    }

    /* Modification de la postion du logo */
    .header-logo {
        position: absolute;
        left: -1%;
        top: -15%;
        transform: translate(-50, -50%);
    }

    /* Modification de la position du menu*/
    .header-menu {
        display: none; /* Cache le header menu par defaut */
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        background-color: #18213b;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .active {
        display: block;
    }

    /* Modification du bouton contact */
    .header-menu li:last-child a {
        margin-top: 10px;
    }

    h1 {
        font-size: 3rem; /* Taille de la police pour les petits écrans */
    }

    h2 {
        font-size: 2rem; /* Taille de la police pour les petits écrans */
        margin-bottom: 30px; /* Espace en dessous du titre pour les petits écrans */
    }

    p {
        font-size: 1.4rem; /* Taille de la police pour les petits écrans */
        line-height: 1.4em; /* Hauteur de ligne pour les petits écrans */
        text-wrap: balance; /* Permet au texte de passer à la ligne */
    }

    /* Desactiver le zoom */
    body {
        touch-action: manipulation; /* Désactive le zoom sur les appareils tactiles */
    }

    .slider {
        height: 60vh; /* Réduit la hauteur du slider pour les petits écrans */
        width: 63vh; /* Ajuste la largeur du slider pour les petits écrans */
    }

    .slider-content {
        width: 90%; /* Réduit la largeur du contenu du slider */
    }

    .slider-content p {
        margin-top: 20px; /* Espace au-dessus du paragraphe */
        font-size: 1.5rem; /* Réduit la taille de la police du paragraphe */
        text-wrap: balance; /* Permet au texte de passer à la ligne */
    }

    .slider-background {
        width: 100%; /* Assure que l'image de fond prend toute la largeur */
    }

    .toColumn {
        flex-direction: column; /* Change la direction du flex en colonne */
    }

    .mCenter {
        justify-content: center; /* Centre les éléments verticalement */
        align-items: center; /* Centre les éléments horizontalement */
        text-align: center; /* Centre le texte */
    }

    /* Colonne en mobile on veut 50% de largeur */
    .wm50 {
        width: 50%; /* Réduit la largeur à 50% pour les petits écrans */
    }

    /* Colonne en mobile on veut 100% de largeur */
    .wm100 {
        width: 100%; /* Prend toute la largeur de l'écran */
    }

    .hm30 {
        height: 30%; /* Réduit la hauteur pour les petits écrans */
    } 

    .section {
        width: 63vh; /* Ajuste la largeur du slider pour les petits écrans */
        padding: 50px 0; /* Réduit l'espace intérieur de la section */
    }

    .boxed {
        max-width: 90%; /* Réduit la largeur maximale des boîtes */
    }

    .mgap20 {
        gap: 20px;
    }

    /* ----- Partie ajustement pour mobile, on passe tout les elements à maximum 430px de largeur ----- */

    .header {
        max-width: 430px; /* Largeur maximale pour le header */
    }

    .slider {
        width: 100%; /* Prend toute la largeur de la page */
        height: 60vh; /* Hauteur du slider pour les petits écrans */
    }

    .div {
        max-width: 430px; /* Largeur maximale pour les divs */
        margin-inline: auto; /* Centre les divs horizontalement */
    }

    .flex {
        flex-wrap: wrap; /* Permet aux éléments de passer à la ligne */
        max-width: 430px; /* Largeur maximale pour les flexbox */
        margin-inline: auto; /* Centre les flexbox horizontalement */
    } 

    .skill {
        width: 100%; /* Prend toute la largeur de la boîte */
        max-width: 430px; /* Largeur maximale pour les divs */
        margin-bottom: 20px; /* Espace en dessous de chaque skill */
    }

    .skill img {
        width: 80px; /* Réduit la largeur de l'image des skills */
        height: 80px; /* Réduit la hauteur de l'image des skills */
    }

    .skill h2 {
        font-size: 2rem; /* Réduit la taille de la police du titre des skills */
        text-align: center; /* Centre le texte du titre des skills */
    }

    /* Ajustement des titres des skills */
    .skill h3 {
        font-size: 1.5rem; /* Réduit la taille de la police du titre des skills */
        text-align: center; /* Centre le texte du titre des skills */
    }

    .section {
        max-width: 430px; /* Largeur maximale pour les sections */
        margin-inline: auto; /* Centre les sections horizontalement */
    }

    .dark {
        max-width: 430px; /* Largeur maximale pour les sections */
    }

    .boxed text-center {
        max-width: 430px; /* Largeur maximale pour les boîtes */
        text-align: center; /* Centre le texte dans les boîtes */
    }

    .experience {
        width: 100%; /* Prend toute la largeur de la boîte */
        margin-bottom: 20px; /* Espace en dessous de chaque expérience */
    }

    .experience h3 {
        font-size: 1.5rem; /* Réduit la taille de la police du titre des expériences */
        text-align: center; /* Centre le texte du titre des expériences */
    }

    .experience img {
        width: 100%; /* Prend toute la largeur de la boîte */
        height: 100%; /* Prend toute la hauteur de la boîte */
        border-radius: 15px; /* Coins arrondis */
        object-fit: cover; /* Ajuste l'image pour qu'elle couvre tout le conteneur */
    }

    .contact {
        width: 100%; /* Prend toute la largeur de la boîte */
        margin-bottom: 20px; /* Espace en dessous de chaque contact */
    }

    .contact .icon {
        font-size: 30px; /* Réduit la taille de l'icône */
    }

    .contact .label {
        font-size: 1.2rem; /* Réduit la taille de la police du label */
    }

    .contact .value {
        font-size: 1.2rem; /* Réduit la taille de la police de la valeur */
    }

    .contact a {
        text-decoration: none; /* Supprime le soulignement du lien */
        color: #95fbb5; /* Couleur du texte du lien */
    }

    .contact a:hover {
        color: black; /* Change la couleur du texte au survol */
        text-decoration: underline; /* Ajoute un soulignement au survol */
    }






}
